*{
   padding:0;
   border: 0;
   margin: 0;
}

*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,textarea,button{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

body{
  /*  max-width: 1440px;
   width: 100%;  */  
   color: #fff;
   background-color: black;
   font: 16px/28px 'Be Vietnam Pro', Arial, sans-serif;
}

a{
   color: inherit;
   transition: .4s;
}

img{
   max-width: 100%;
   max-height: 100%;
}

button{
   display: block;
   font: inherit;
   background-color: transparent;
   cursor: pointer;
   transition: .4s; 
}

.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 10px;
}

.title-section{
   margin-bottom: 40px;
   font-size: 52px;
   line-height: 62px;
   text-align: center;
   letter-spacing: 0.6px;
}

.btn-primary{
   padding: 12px 24px;
   background-color: #EE8313;
   font-weight: 600;
   
}

.btn-secondary{
  
   padding: 12px 24px;
   color: #EE8313;
   font-weight: 600;
   border: 1px solid #EE8313 ;
   line-height: 24px;
}

.btn-secondary:hover{
   color:#fff;
   background-color:#EE8313 ;

}
.btn-primary:hover{
   background-color: #C26D12;
}

/*HEADER*/

#header-section{
   padding: 40px 0 107px;
}

.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: 600;
}

.header-logo{
   width: 48px;
   height: 48px;
}

.nav-main{
   margin-left: auto;
}

.nav-main__list{
   display: flex;
   gap: 48px;
   margin-right: 72px;   
}

.nav-main__link:hover{
   color: #EE8313;
}

/*BANNER*/

#banner-section{
   max-width: 1440px;
   margin: 0 auto;
   padding-bottom: 60px;
   position: relative;
   overflow: hidden;
}

.banner{
   max-width: 475px;
   padding-top: 40px;
}

.banner__header{
   font-size: 52px;
   line-height: 64px;
   letter-spacing: 0.6px;
}

.banner__text{
   padding: 32px 0 48px;
   font-size: 17px;
   color: rgb(255 255 255 / 80%);
}

.banner-links-wrap{
   display: flex;
   align-items: center;
   gap: 35px;
   margin-bottom: 40px;
}

.banner-features__text{
   font-weight: 600;
   line-height: 24px;
}

.banner-features__text:first-child{
   margin-right: 40px;
}

.banner-features__text-strong{   
   margin-right: 16px;
   font-weight: 700;
   font-size: 40px;
   line-height: 52px;
   vertical-align: sub;
}

.banner-img{
   position: absolute;   
   width: 60%;
   height: 100%;
   top: 0;
   right: 0;   
}

.banner-img::before{
   position: absolute;
   content: "";
   z-index: 2;
   width: 96%;
   height: 100%;
   top: 0;
   right: 0; 
   background: url(Source/banner-main.png) no-repeat;
}

.banner-img::after{
   position: absolute;
   content: "";
   z-index: 1;
   width: 73%;
   height: 100%;
   top: 0;
   right: 0; 
   background-color: rgb(52 52 52 / 30%);
}

/*RENT*/

#rent-section{
   padding: 120px 0 120px;
}

.rent-wrap{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 32px;
}

.rent{
   position: relative;
   height: 524px;
   background: url(Source/rent1.png) 50%/cover no-repeat;
   font-weight: 600;
}

.rent:nth-child(2){
   background: url(Source/rent2.png) 50%/cover no-repeat;
}
.rent:nth-child(3){
   background: url(Source/rent3.png) 50%/cover no-repeat;
}
.rent:nth-child(4){
   background: url(Source/rent4.png) 50%/cover no-repeat;
}

.rent__name{
   position: absolute;
   top: 48px;
   left: 48px;
   font-size: 40px;
   letter-spacing: 0.6px;
}

.rent__link{
   position: absolute;
   bottom: 48px;
   right: 60px;
   letter-spacing: 0.6px;
   font-size: 24px;
   padding-right: 30px;
}

.rent__link::before{
   position: absolute;
   content: '';
   top: 50%;   
   right: 0;
   width: 8px;
   height: 16px;
   background: url(Source/arrow.svg) 50%/cover no-repeat;
   transform: translateY(-50%);
}

.rent__link:hover{
   color: #FFCC2C;
}

/*SERVICES*/

#services-section{
   padding-bottom: 120px;
}

.services-section__title{
   margin-bottom: 66px;
   text-align: left;
}

.services-wrap{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 24px;
}

.services__img{
   margin-bottom: 24px;
}

.services__title{
   margin-bottom: 16px;
   font-size: 24px;
   line-height: 32px;
}

.services__text{
   color: rgb(255 255 255 / 80%);
}

/*DESTINATION*/

#destination-section{
   padding-bottom: 162px;
}

.destination-section__title{
   width: 590px;
   margin: 0 auto 40px;
}

.destination-wrap{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 24px;
}

.destination{
   background-color: #171717;
   border: 1px solid #171717;
}

.destination-info{
   padding: 24px;
}

.destination__title{
   font-size: 24px;
   line-height: 32px;
}

.destination__text{
   margin: 10px 0 25px;
   color: rgb(255 255 255 / 80%);
}

.destination__price{
   position: relative;
   display: block;
   margin-bottom: 17px;
   font-weight: 600;
   padding-left: 42px;
}

.destination__price::before{
   position: absolute;
   content: '';
   top: 50%;
   left: 0;
   width: 30px;
   height: 30px;
   transform: translateY(-50%);
   background: url(Source/car___logo.svg) no-repeat;
}

.destination-link{
   color:#EE8313
}

.destination-link:hover{
   color: #C26D12;
}

/*Location*/

#location-section{
   padding-bottom: 102px;
}

/*FOOTER*/

#footer-section{
   
   padding-top: 40px;
   background-color: #1F1905;
}

.footer{
   display: flex;
   justify-content: space-between;
   padding-bottom: 50gipx;
}

.footer-logo-wrap{
   display: flex;
   align-items: center;
   gap: 17px;
   margin-bottom: 64px;
   font-weight: 600;
}

.footer-about__text{
   max-width: 235px;
   font-size: 18px;
   line-height: 32px;
}

.footer-nav-wrap{
   display: flex;
   justify-content: space-between;
   gap:45px;
   margin: 40px 100px 0 auto;
}

.footer-nav__header{
   margin-bottom:32px;
   font-size: 18px;
   line-height: 20px;
}

.footer-nav__item{
   margin-bottom: 28px;
   line-height: 20px;   
}

.footer-nav__link{
   color: rgb(255 255 255 / 80%);
}

.footer-nav__link:hover{
   color: #C26D12;;
}
.footer-socials{
   margin-top: 32px;
}
.footer-socials__link{
   display: block;
   width: 120px;
   height: 30px;
   margin-bottom: 45px;
   background: url(Source/social_1.svg) 50%/cover no-repeat;
}

.footer-socials__link:nth-child(2){
   background: url(Source/social_2.svg) 50%/cover no-repeat;
}

.footer-socials__link:nth-child(3){
   background: url(Source/social_3.svg) 50%/cover no-repeat;
   margin-bottom: 0;
}
.footer-copyright{
   padding: 20px 0;
   background-color: #EE8313;
}

.footer-copyright__text{
   text-align: center;
}